<h1 class="mat-h1">Kezdőlap</h1>

<h2 class="mat-h2">Web technológiák 2 beadandó - Rőthi János NDRQ1Y</h2>

<h3 class="mat-h3">A beadandóban felhasznált technológiák</h3>

<ul>
    <li>RxJs</li>
    <li>Angular 11</li>
    <li>Express.js</li>
    <li>TypeScript</li>
    <li>JWT + bcrypt</li>
    <li>Angular Material</li>
    <li>Mongoose + MongoDB</li>
</ul>

<h3 class="mat-h3">Információ:</h3>

A jobb felső sarokban található 'account' ikonra kattintva érhető el a bejelentkezés és a regisztráció.